#include "windows.h"
#include "res.h"

ID_ICON_MAIN    ICON bmp\winmine.ico

ID_BMP_BLOCKS BITMAP bmp\blocks.bmp
ID_BAW_BLOCKS BITMAP bmp\blocksbw.bmp
ID_BMP_LED    BITMAP bmp\led.bmp
ID_BAW_LED    BITMAP bmp\ledbw.bmp
ID_BMP_BUTTON BITMAP bmp\button.bmp
ID_BAW_BUTTON BITMAP bmp\buttonbw.bmp

ID_TUNE_TICK  WAVE   bmp\tick.wav
ID_TUNE_WON   WAVE   bmp\win.wav
ID_TUNE_LOST  WAVE   bmp\explode.wav


#include "pref.dlg"
#include "menu.inc"


1 RT_MANIFEST "winmine.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904B0"
		BEGIN
			VALUE "CompanyName", "Microsoft Windows Entertainment Pack"
			VALUE "FileDescription", "Entertainment Pack Minesweeper Game"
			VALUE "InternalName", "winmine"
			VALUE "OriginalFilename", "WINMINE.EXE"
			VALUE "ProductName", "WinMine"
			VALUE "ProductVersion", "1.0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1200
	END
END
